*{
    margin: 0;
    padding: 5px;
}

body{
    background: linear-gradient(to right, #f69662, #500123);
    color: rgb(255, 250, 249);
    justify-content: center;
}

.flex_container{
    display:  flex;
    justify-content: center;
    max-width: 992px;
    margin: auto;
    width: 10%;
    min-width: 100px;
    margin-bottom:30px;
    align-items: center;
    flex-direction: center;
    border-radius: 30px;
    border:rgb(57, 6, 2) ;
    color: rgb(57, 2, 2);
    box-shadow: rgb(79, 22, 3) 0.3em 0.2em;
    font-weight: 600;
}

.flex_container-upBtn--hover:hover{
    background-color: rgb(240, 189, 130);
    color:#fff;
}

#contador{
    justify-content: center;
    flex-direction: center;
    display: flex;
    margin: 30px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(79, 22, 3) 0.1em 0.1em;
}

.contadorh1{
    text-shadow: rgb(79, 22, 3) 0.1em 0.1em;
    margin:20px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display:  flex;
}

.paragrafo{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display:  flex;
    flex-direction: center;
    text-shadow: rgb(79, 22, 3) 0.1em 0.1em;
}